* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 950px;
    padding: 20px;
    margin: 0 auto;
    max-width: 90%;
    margin-top: 80px;
    background-color: whitesmoke;
    line-height: 1.5;
} 
div{}
h1{
    margin: 20px;
}
h2{
    margin-bottom: 20px;
}
footer{
    margin: 0 15%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    opacity: .5;
    font-size: .8em;
}
#homePageContent{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#headshotImg{
    /* max-width: 100%; */
    border-radius: 50%;
    /* min-width: 300px; */
}

#homePageText{
    /* width: 50%; */
}
#headshotContainer{
    padding-right: 30px;
    margin: 0 40px;
    padding-top: 40px;
}
#logo{
    color: #FFAA4A;
}
#meAndyGreg{
    /* transform: rotate(90deg); */
    margin: 0 auto;
    width: 43.17%;
}
.pageTitle{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 4em;
    font-style:italic;
    font-weight: bold;
}
.carouselImage{
    background: linear-gradient(#ffffff, #000000);
}
.linkColor:visited{
    color: #FFAA4A;
}
.bottomPadding20{
    margin-bottom: 20px;
}
.bottomPadding40{
    margin-bottom: 40px;
}

@media screen and (max-width: 795px){
    #headshotImg{
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 673px){
    #homePageContent{
        display: block;
    }
    #headshotContainer{
        text-align: center;
        margin: 40px auto;
        padding: 0;
    }
}
@media screen and (max-width: 500px){
    body{
        padding: 0;
    }
    #headshotImg{
        width: 150px;
        height: 150px;
    }
}
